<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

    {% if title %}
    <title> {{title}} - Village square  </title>
    {% else %}
    <title> Welcome to Village square!  </title>
    {% endif %}
</head>
<body>
    <div> Village square: 
      <a href="{{url_for('index')}}">home</a>
      {% if current_user.is_anonymous %}
      <a href="{{url_for('login')}}">login</a>
      {% else %}
      <a href="{{url_for('logout')}}">logout</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
           <ul>
            {% for category, message in messages %}
               <li>
                {{ message }}
               </li>        
                {% endfor %}
           </ul>
                
           
        {% endif %}

    {% endwith %}

  {% block  my_content %}
  {% endblock %}

</body>
</html>